.header {
  display: flex;
  .logo {
    margin-right: auto;
  }
  .welcome {
    text-transform: capitalize;
  }
  .options {
    display: flex;

    justify-content: flex-end;
    .option {
      padding: 1rem;
      text-decoration: none;
      color: black;
    }
  }
}
