body {
  padding: 20px 50px;
}
a {
  text-decoration: none;
  color: black;
}
button:hover {
  cursor: pointer;
  background: white;
  color: black;
  border: 1px solid black;
}

* {
  box-sizing: border-box;
}
